.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    
  }
  
  .article-box {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: 6%; */
    transition: background-color 0.3s; /* Transition for background-color change on hover */
  }
  .article-title {
  
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 10px;
    margin-top:50px;
  }
  
  .article-meta {
    font-size: 14px;
    color: #757575;
  }
  
  .author-name {
    margin-right: 10px;
  }
  
  .reading-time {
    font-style: italic;
  }
  
  .article-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .article-content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .article-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
  }
  
  .like-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .tags-container {
    margin-top: 20px;
  }
  
  /* Style the input for entering tags */
  .tags-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  /* Style the button for saving tags */
  .tags-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style each displayed tag */
  .saved-tags {
    margin-top: 10px;
  }
  
  .tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 50%; /* Make the tag circular */
  }
 
  

  
  .comment-list {
    margin-top: 20px;
  }
  
  .comment {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
  }

 